<footer class="footer-container">
    <div class="footer-top container">
        <div class="footer-static row">
            <div class="f-col f-col1 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-footer">
                    <a href="./index.html">
                        <img src="./img/logo4b76.png" alt="Ant Furniture" class="img-responsive"/>
                    </a>
                </div>
                <div class="footer-content">
                    <ul class="info">
                        <li>Địa chỉ: 175 Lý Thường Kiệt, Phường 6, Quận Tân Bình, TP Hồ Chí Minh</li>
                        <li>Điện thoại: <a href="tel:0123456789">0123 456 789</a></li>
                        <li>Website: <a href="https://tweb.com.vn">https://tweb.com.vn</a></li>
                        <li>Email: <a href="mailto:mai.levanhuynh@gmail.com">levanhuynh@gmail.com</a></li>
                    </ul>
                    <div class="social-icons">
                        <ul>
                            <li class="twitter">
                                <a title="twitter" href="#" target="_blank">
                                    <i class="fa-twitter fa"></i>
                                </a>
                            </li>

                            <li class="facebook">
                                <a title="facebook" href="#" target="_blank">
                                    <i class="fa-facebook fa"></i>
                                </a>
                            </li>

                            <li class="googleplus">
                                <a title="googleplus" href="#" target="_blank">
                                    <i class="fa-google-plus fa"></i>
                                </a>
                            </li>

                            <li class="youtube">
                                <a title="youtube" href="#" target="_blank">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                            </li>

                            <li class="pinterest">
                                <a title="pinterest" href="#" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="f-col f-col2 col-md-2 col-sm-6 col-xs-6">
                <div class="footer-title">
                    <h3>Hướng dẫn</h3>
                </div>
                <div class="footer-content">
                    <ul class="menu">

                        <li><a href="./index.html">Trang chủ</a></li>

                        <li><a href="./about-us.html">Giới thiệu</a></li>

                        <li><a href="./product.html">Sản phẩm</a></li>

                        <li><a href="./post.html">Tin tức</a></li>

                        <li><a href="./contact.html">Liên hệ</a></li>

                    </ul>
                </div>
            </div>
            <div class="f-col f-col3 col-md-2 col-sm-6 col-xs-6">
                <div class="footer-title">
                    <h3>Chính sách</h3>
                </div>
                <div class="footer-content">
                    <ul class="menu">

                        <li><a href="./index.html">Trang chủ</a></li>

                        <li><a href="./about-us.html">Giới thiệu</a></li>

                        <li><a href="./product.html">Sản phẩm</a></li>

                        <li><a href="./post.html">Tin tức</a></li>

                        <li><a href="./contact.html">Liên hệ</a></li>

                    </ul>
                </div>
            </div>
            <div class="f-col f-col4 col-md-4 col-sm-12 col-xs-12">
                <div class="footer-title">
                    <h3>Nhận email khuyến mãi</h3>
                </div>
                <div class="footer-content">Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn
                    <div class="block newsletter">
                        <div class="content">
                            <form class="form subscribe"
                                  action="#"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  target="_blank">
                                <div class="field newsletter">
                                    <div class="control">
                                        <input name="email" type="email" id="newsletter" value=""
                                               placeholder="Nhập địa chỉ Email của bạn" required>
                                        <div class="actions">
                                            <button class="action subscribe primary" name="subscribe" title="Đăng ký"
                                                    type="submit">
                                                <span>Đăng ký</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <small class="copyright">
                        <span>
                            © Bản quyền thuộc về <b>Kiến Vàng</b>
                            <span class="s480-f">|</span>
                            Cung cấp bởi <a href="#" title="" target="_blank" rel="nofollow">HM</a>
                        </span>

                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment">
                    <img src="./img/logo4b76.png" alt="Ant Furniture">
                </div>
            </div>
        </div>
        <div class="back-to-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
    </div>
</footer>

