<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ant Furniture</title>
    <meta name='revisit-after' content='1 days'/>
    <meta name="robots" content="noodp,index,follow"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Ant Furniture">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Ant Furniture">

    <link href="./css/bootstrap.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/plugin.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/ant-furniture.scss.css" rel="stylesheet" type="text/css"/>
    <script src="./js/script.js" type="text/javascript"></script>

    <!-- by page -->
    <script src="./js/home.js" type="text/javascript"></script>
</head>
<body>

<div w3-include-html="./header.html"></div>

<!-- begin content -->
<section class="bread-crumb margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="./index.html" title="Trang chủ">
                            <span itemprop="name">Trang chủ</span>
                            <meta itemprop="position" content="1">
                        </a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>

                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <strong itemprop="name">Đăng nhập tài khoản</strong>
                        <meta itemprop="position" content="2">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container margin-bottom-30">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-login account-box-shadow">
                <div id="login">
                    <div class="text-center">
                        <h1 class="title-head"><span>Đăng nhập tài khoản</span></h1>
                    </div>
                    <div class="social-login text-center margin-bottom-10">
                        <a href="javascript:void(0)" class="social-login--facebook" onclick="loginFacebook()">
                            <img width="129px" height="37px" alt="facebook-login-button" src="./img/fb-btn.svg">
                        </a>
                        <a href="javascript:void(0)" class="social-login--google" onclick="loginGoogle()">
                            <img width="129px" height="37px" alt="google-login-button" src="./img/gp-btn.svg">
                        </a>
                    </div>
                    <form accept-charset="utf-8" action="#" id="customer_login" method="post" class="has-validation-callback">
                        <input name="FormType" type="hidden" value="customer_login">
                        <input name="utf8" type="hidden" value="true">
                        <div class="form-signup">

                        </div>
                        <div class="form-signup clearfix">
                            <fieldset class="form-group margin-bottom-20">
                                <label>Email<span class="required">*</span></label>
                                <input type="email" class="form-control form-control-lg" value="" name="email"
                                       id="customer_email" placeholder="Email" required="" data-validation="email"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                                       data-validation-error-msg="Email sai định dạng">
                            </fieldset>
                            <fieldset class="form-group">
                                <label>Mật khẩu<span class="required">*</span></label>
                                <input type="password" class="form-control form-control-lg" value="" name="password"
                                       id="customer_password" data-validation-error-msg="Không được để trống"
                                       data-validation="required" placeholder="Mật khẩu">
                            </fieldset>
                            <div class="pull-xs-left text-center" style="margin-top: 15px;">
                                <button class="btn btn-style btn-blues" type="submit" value="Đăng nhập">
                                    Đăng nhập
                                </button>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-center">
                                <a href="#recover" class="btn-link-style" onclick="showRecoverPasswordForm();">
                                    Quên mật khẩu?
                                </a>
                            </p>
                            <div class="text-login text-center">
                                <p>
                                    Bạn chưa có tài khoản. Đăng ký <a href="./register.html">tại đây.</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="recover-password" class="form-signup" style="display:none;">
                    <div class="text-center">
                        <h1 class="title-head"><span>Đặt lại mật khẩu</span></h1>
                    </div>
                    <span class="block text-center">
						Bạn quên mật khẩu? Nhập địa chỉ email để lấy lại mật khẩu qua email.
					</span>
                    <form accept-charset="utf-8" action="#" id="recover_customer_password" method="post"
                          class="has-validation-callback">
                        <input name="FormType" type="hidden" value="recover_customer_password">
                        <input name="utf8" type="hidden" value="true">
                        <div class="form-signup aaaaaaaa"></div>

                        <div class="form-signup clearfix">
                            <fieldset class="form-group">
                                <label>Email<span class="required">*</span></label>
                                <input type="email" class="form-control form-control-lg" value="" name="Email"
                                       id="recover-email" placeholder="Email" data-validation="email"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                                       data-validation-error-msg="Email sai định dạng">
                            </fieldset>
                        </div>
                        <div class="action_bottom text-center">
                            <button class="btn btn-style btn-blues" style="margin-top: 15px;" type="submit"
                                    value="Lấy lại mật khẩu">Lấy lại mật khẩu
                            </button>
                        </div>
                        <div class="text-login text-center">
                            <p>
                                Quay lại <a href="javascript:;" class="btn-link-style btn-register" onclick="hideRecoverPasswordForm();">tại đây.</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end content -->

<div w3-include-html="./footer.html"></div>

<script src="./js/main.js" type="text/javascript"></script>
<script src="./js/function.js" type="text/javascript"></script>
</body>
</html>