<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ant Furniture</title>
    <meta name='revisit-after' content='1 days'/>
    <meta name="robots" content="noodp,index,follow"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Ant Furniture">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Ant Furniture">

    <link href="./css/bootstrap.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/plugin.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/ant-furniture.scss.css" rel="stylesheet" type="text/css"/>
    <script src="./js/script.js" type="text/javascript"></script>

    <!-- by page -->
    <script src="./js/home.js" type="text/javascript"></script>
</head>
<body>

<div w3-include-html="./header.html"></div>

<!-- begin content -->
<section class="bread-crumb margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" title="Trang chủ">
                            <span itemprop="name">Trang chủ</span>
                            <meta itemprop="position" content="1"/>
                        </a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>

                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/trang-tri-noi-that" title="Trang trí n&#7897;i th&#7845;t">
                            <span itemprop="name">Trang trí n&#7897;i th&#7845;t</span>
                            <meta itemprop="position" content="2"/>
                        </a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <strong itemprop="name">H&#7879; lam giúp nhà &#7889;ng Sài Gòn không s&#7907; tr&#7897;m, th&#7915;a
                            n&#7855;ng gió</strong>
                        <meta itemprop="position" content="3"/>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container article-wraper">
    <div class="row">
        <section class="right-content col-md-9 col-md-push-3">
            <article class="article-main" itemscope itemtype="http://schema.org/Article">
                <meta itemprop="mainEntityOfPage" content="/he-lam-giup-nha-ong-sai-gon-khong-so-trom-thua-nang-gio">
                <meta itemprop="description" content="">
                <meta itemprop="author" content="Nguyễn Chánh Bảo Trung">
                <meta itemprop="headline" content="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió">
                <meta itemprop="image" content="./img/untitled-2.jpg">
                <meta itemprop="datePublished" content="18-09-2018">
                <meta itemprop="dateModified" content="18-09-2018">
                <div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                        <img src="./img/logo.png" alt="Ant Furniture"/>
                        <meta itemprop="url" content="./img/logo.png">
                        <meta itemprop="width" content="200">
                        <meta itemprop="height" content="49">
                    </div>
                    <meta itemprop="name" content="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-head">Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió</h1>
                        <div class="postby">
                            <span>Đăng bởi <b>Nguyễn Chánh Bảo Trung</b> vào lúc 18/09/2018</span>
                        </div>
                        <div class="blog_related margin-bottom-10">
                            <article class="blog_entry clearfix">
                                <h3 class="blog_entry-title">
                                    <a class="line-clampss" rel="bookmark" href="post-detail.html"
                                       title="Những thiết kế nội thất nhà bếp với chất liệu gỗ tuyệt đẹp">
                                        <i class="ion ion-md-arrow-dropright"></i>
                                        Những thiết kế nội thất nhà bếp với chất liệu gỗ tuyệt đẹp
                                    </a>
                                </h3>
                            </article>
                        </div>
                        <div class="article-details">
                            <div class="article-content">
                                <div class="rte">
                                    <div class="caption" id="fancy-image-view">
                                        <p>
                                            Khung lam ở mặt tiền, sân vườn ở tầng 3 giúp ngôi nhà quận 8 thoáng đãng,
                                            đón
                                            gió, nắng và chặn bụi đường.
                                        </p>
                                        <article>
                                            <p>
                                                <img alt="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió"
                                                     data-component-caption="&amp;lt;p&amp;gt;
	Ngôi nhà được xây dựng trên một miếng đất có diện tích 5,4m x 13,3m, nằm trên trục đường chính trong khu dân cư dưới chân một cây cầu ở quận 8, TP HCM.&amp;lt;/p&amp;gt;"
                                                     data-original="https://i-giadinh.vnecdn.net/2018/08/06/mat-dung-1533539448_680x0.jpg"
                                                     data-reference-id="25758158"
                                                     data-src="https://i-giadinh.vnecdn.net/2018/08/06/mat-dung-1533539448_680x0.jpg"
                                                     id="vne_slide_image_0"
                                                     src="https://i-giadinh.vnecdn.net/2018/08/06/mat-dung-1533539448_r_680x0.jpg"/><a
                                                    href="javascript:;"><i></i></a></p>
                                            <p>Ngôi nhà được xây dựng trên một miếng đất có diện tích 5,4m x 13,3m, nằm
                                                trên trục đường chính trong khu dân cư dưới chân một cây cầu ở quận 8,
                                                TP HCM.</p>
                                            <p><img alt="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió"
                                                    data-thumb="original" original-height="800" original-width="600"
                                                    src="//bizweb.dktcdn.net/100/331/465/files/san-vuon-1-600x0.jpg?v=1537326727125"/>
                                            </p>
                                            <p>Nơi đây, mật độ giao thông đúc. Để ngăn chặn bụi và nắng cho ngôi nhà,
                                                các kiến trúc sư Đoàn Sĩ Nguyên, Lê Đình Mạnh, Trần Văn Nam, Nguyễn Hiền
                                                Triển (Sawadeesign) đã thiết kế một hệ lam ngang cho mặt đứng.</p>
                                            <p>&nbsp;</p>
                                            <p><img alt="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió"
                                                    data-component-caption="&amp;lt;p&amp;gt;
	Hệ lam này cũng đáp ứng được mong muốn của gia chủ là tạo ra mặt đứng khác biệt so với khu vực xung quanh. Ngoài ra nó còn có khả năng chống trộm tốt, nhưng vẫn lấy nắng và gió được.&amp;lt;/p&amp;gt;"
                                                    data-original="https://i-giadinh.vnecdn.net/2018/08/06/ok-cua-chinh-1533540166_680x0.jpg"
                                                    data-reference-id="25758160"
                                                    data-src="https://i-giadinh.vnecdn.net/2018/08/06/ok-cua-chinh-1533540166_680x0.jpg"
                                                    id="vne_slide_image_2"
                                                    src="https://i-giadinh.vnecdn.net/2018/08/06/ok-cua-chinh-1533540166_r_680x0.jpg"/><a
                                                    href="javascript:;"><i></i></a></p>
                                            <p>Hệ lam này cũng đáp ứng được mong muốn của gia chủ là tạo ra mặt đứng
                                                khác biệt so với khu vực xung quanh. Ngoài ra nó còn có khả năng chống
                                                trộm tốt, nhưng vẫn lấy nắng và gió được.</p>
                                            <p><img alt="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió"
                                                    data-component-caption="&amp;lt;p&amp;gt;
	Kiến trúc sư Đoàn Sĩ Nguyên cho biết, hệ lam hiện giờ đang là xu hướng thịnh hành khi xử lý mặt đứng cho công trình. Nó có công dụng che nắng, nhưng vẫn cho gió và ánh sáng lọt qua. Hệ lam được xem là một lớp vỏ mềm mại bảo vệ cho công trình và không gian bên trong.&amp;lt;/p&amp;gt;"
                                                    data-original="https://i-giadinh.vnecdn.net/2018/08/06/phong-ngu-nho-1533540196_680x0.jpg"
                                                    data-reference-id="25758161"
                                                    data-src="https://i-giadinh.vnecdn.net/2018/08/06/phong-ngu-nho-1533540196_680x0.jpg"
                                                    id="vne_slide_image_3"
                                                    src="https://i-giadinh.vnecdn.net/2018/08/06/phong-ngu-nho-1533540196_r_680x0.jpg"/><a
                                                    href="javascript:;"><i></i></a></p>
                                            <p>Kiến trúc sư Đoàn Sĩ Nguyên cho biết, hệ lam hiện giờ đang là xu hướng
                                                thịnh hành khi xử lý mặt đứng cho công trình. Nó có công dụng che nắng,
                                                nhưng vẫn cho gió và ánh sáng lọt qua. Hệ lam được xem là một lớp vỏ mềm
                                                mại bảo vệ cho công trình và không gian bên trong.</p></article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <script type="text/javascript"
                                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a099baca270babc"></script>
                        <div class="addthis_inline_share_toolbox_jje8"></div>
                    </div>


                    <div class="col-md-12 margin-top-20">
                        <form accept-charset="utf-8" action="#" id="article_comments" method="post">
                            <input name="FormType" type="hidden" value="article_comments"/>
                            <input name="utf8" type="hidden" value="true"/>

                            <div class="form-coment margin-bottom-10">
                                <div class="">
                                    <h5 class="title-form-coment">VIẾT BÌNH LUẬN CỦA BẠN:</h5>
                                </div>
                                <fieldset class="form-group">
                                    <input placeholder="Họ tên" type="text" class="form-control form-control-lg"
                                           value="" id="full-name" name="Author" Required
                                           data-validation-error-msg="Không được để trống" data-validation="required"/>
                                </fieldset>
                                <fieldset class="form-group">
                                    <input placeholder="Email" type="email" class="form-control form-control-lg"
                                           value="" id="email" name="Email" data-validation="email"
                                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                                           data-validation-error-msg="Email sai định dạng" required/>
                                </fieldset>
                                <fieldset class="form-group">
                                    <textarea placeholder="Nội dung" class="form-control form-control-lg" id="comment"
                                              name="Body" rows="6" Required
                                              data-validation-error-msg="Không được để trống"
                                              data-validation="required"></textarea>
                                </fieldset>
                                <div>
                                    <button type="submit" class="btn btn-blues">
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Gửi bình luận
                                    </button>
                                </div>
                            </div> <!-- End form mail -->
                        </form>
                    </div>
                </div>
            </article>
        </section>

        <aside class="left left-content col-md-3 col-md-pull-9">
            <aside class="aside-blog-item margin-bottom-15">
                <a href="#">
                    <img src="./img/loader.svg" data-lazyload="./img/blogs_banner.png" alt="Ant Furniture"
                         class="img-responsive center-block"/>
                </a>
            </aside>

            <div class="aside-item">
                <div class="heading">
                    <h2 class="title-head"><a href="tin-tuc"><span>Xem nhiều nhất</span></a></h2>
                </div>
                <div class="list-blogs">

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/loader.svg?1628514581269"
                                 data-lazyload="./img/crickethouse-day-07-1535007367-680x0.jpg?v=1536982924097"
                                 width="70" height="70"
                                 alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế"/>
                        </a>

                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                    Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/loader.svg?1628514581269"
                                 data-lazyload="./img/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg?v=1536982782007"
                                 width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ"/>
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                    Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/loader.svg?1628514581269"
                                 data-lazyload="./img/termitary-house-4-1430479593.jpg?v=1536982732587"
                                 width="70" height="70" alt="Nhà gạch Việt 350 triệu lên báo quốc tế"/>
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html" title="Nhà gạch Việt 350 triệu lên báo quốc tế">
                                    Nhà gạch Việt 350 triệu lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/loader.svg?1628514581269"
                                 data-lazyload="./img/sen-da-la-tim-mon-qua-y-nghia-danh-tang-cho-tinh-yeu-20180720154516074.jpg?v=1536982649460"
                                 width="70" height="70"
                                 alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"/>
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                    Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                </div>
                <div class="blogs-mores text-center">
                    <a href="./post.html" title="Xem thêm">Xem thêm</a>
                </div>
            </div>

            <div class="aside-item aside-blog-promotion">
                <div class="heading">
                    <h2 class="title-head"><span><a href="post.html">Khuyến mãi</a></span></h2>
                </div>
                <div class="list-blogs-promotion">
                    <div class="blogs-promotion-big">
                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/loader.svg?1628514581269"
                                     data-lazyload="./img/crickethouse-day-07-1535007367-680x0.jpg?v=1536982924097"
                                     alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế"/>
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                        Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                    </a>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="blogs-promotion-small">
                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/loader.svg?1628514581269"
                                     data-lazyload="//bizweb.dktcdn.net/thumb/small/100/331/465/articles/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg?v=1536982782007"
                                     width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ"/>
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                        Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/loader.svg?1628514581269"
                                     data-lazyload="//bizweb.dktcdn.net/thumb/small/100/331/465/articles/termitary-house-4-1430479593.jpg?v=1536982732587"
                                     width="70" height="70" alt="Nhà gạch Việt 350 triệu lên báo quốc tế"/>
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Nhà gạch Việt 350 triệu lên báo quốc tế">
                                        Nhà gạch Việt 350 triệu lên báo quốc tế
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/loader.svg?1628514581269"
                                     data-lazyload="./img/sen-da-la-tim-mon-qua-y-nghia-danh-tang-cho-tinh-yeu-20180720154516074.jpg?v=1536982649460"
                                     width="70" height="70"
                                     alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"/>
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/loader.svg?1628514581269"
                                     data-lazyload="./img/nha-vuon-mexico-1.jpg?v=1536982574013"
                                     width="70" height="70" alt="Những ngôi nhà thủ công ấn tượng nhất nước Anh 2018"/>
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Những ngôi nhà thủ công ấn tượng nhất nước Anh 2018">
                                        Những ngôi nhà thủ công ấn tượng nhất nước Anh 2018
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/loader.svg?1628514581269"
                                     data-lazyload="./img/photo-0-1498327152329.jpg?v=1536565055130"
                                     width="70" height="70"
                                     alt="Những mẫu phòng khách nhà đẹp kiểu châu Âu đẹp hút hồn"/>
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Những mẫu phòng khách nhà đẹp kiểu châu Âu đẹp hút hồn">
                                        Những mẫu phòng khách nhà đẹp kiểu châu Âu đẹp hút hồn
                                    </a>
                                </h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </aside>

    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
<script>
    jQuery(function () {
        jQuery('.rte img').not('a > img').each(function () {
            // Matching images that aren't already shown in their original size.
            var re = /(_small)|(_compact)|(_medium)|(_large)|(_grande)/;
            var src = jQuery(this).attr('src');
            if (re.test(src)) {
                // Determining the URL to the original image.
                var href = src.replace(re, '');
                // Activating lightbox.
                jQuery(this).wrap('<a></a>')
                    .parent()
                    .attr('href', href)
                    .attr('data-fancybox', 'images')
                    .colorbox({
                        maxWidth: "95%",
                        maxHeight: "95%",
                        scalePhotos: true
                    });
            }
        });
    });
</script>
<link href="./css/bpr-products-module.css" rel="stylesheet" type="text/css"/>
<div class="sapo-product-reviews-module"></div>

<!-- end content -->

<div w3-include-html="./footer.html"></div>

<script src="./js/main.js" type="text/javascript"></script>
<script src="./js/function.js" type="text/javascript"></script>
</body>
</html>