<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ant Furniture</title>
    <meta name='revisit-after' content='1 days'/>
    <meta name="robots" content="noodp,index,follow"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Ant Furniture">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Ant Furniture">

    <link href="./css/bootstrap.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/plugin.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/ant-furniture.scss.css" rel="stylesheet" type="text/css"/>
    <script src="./js/script.js" type="text/javascript"></script>

    <!-- by page -->
    <script src="./js/home.js" type="text/javascript"></script>
</head>
<body>

<div w3-include-html="./header.html"></div>

<!-- begin content -->
<section class="bread-crumb margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" title="Trang chủ">
                            <span itemprop="name">Trang chủ</span>
                            <meta itemprop="position" content="1">
                        </a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>

                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <strong itemprop="name">Tất cả tin tức</strong>
                        <meta itemprop="position" content="2">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container" itemscope="" itemtype="http://schema.org/Blog">
    <meta itemprop="name" content="Tất cả tin tức">
    <meta itemprop="description" content="Chủ đề không có mô tả">
    <div class="row">
        <section class="right-content col-md-9 list-blog-page">
            <div class="box-heading hidden">
                <h1 class="title-head">Tất cả tin tức</h1>
            </div>

            <div class="news-list-main">
                <div class="newslist latest">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="later_news_big">
                                <div class="tempvideo">
                                    <a href="./post-detail.html">
                                        <img src="./img/untitled-2.jpg"
                                             alt="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió"
                                             class="img-responsive center-block">
                                    </a>
                                </div>
                                <h3>
                                    <a href="./post-detail.html"
                                       title="Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió">
                                        Hệ lam giúp nhà ống Sài Gòn không sợ trộm, thừa nắng gió
                                    </a>
                                </h3>
                                <figure>
                                    Khung lam ở mặt tiền, sân vườn ở tầng 3 giúp ngôi nhà quận 8 thoáng đãng, đón gió,
                                    nắng và chặn bụi đường.

                                    Ngôi nhà được xây...
                                </figure>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4">
                            <ul class="col-later-news">
                                <li class="has-tempvideo">
                                    <div class="tempvideo">
                                        <a href="./post-detail.html"
                                           title="Những thiết kế nội thất nhà bếp với chất liệu gỗ tuyệt đẹp">
                                            <img src="./img/shapeimage-9-1.jpg"
                                                 alt="Những thiết kế nội thất nhà bếp với chất liệu gỗ tuyệt đẹp"
                                                 class="img-responsive center-block">
                                        </a>
                                    </div>
                                    <h3>
                                        <a href="./post-detail.html"
                                           title="Những thiết kế nội thất nhà bếp với chất liệu gỗ tuyệt đẹp">
                                            Những thiết kế nội thất nhà bếp với chất liệu gỗ tuyệt đẹp
                                        </a>
                                    </h3>
                                </li>

                                <li>
                                    <h3>
                                        <a href="./post-detail.html"
                                           title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế"
                                           class="linkimg">
                                            Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                        </a>
                                    </h3>
                                </li>

                                <li>
                                    <h3>
                                        <a href="./post-detail.html"
                                           title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ" class="linkimg">
                                            Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                        </a>
                                    </h3>
                                </li>

                                <li>
                                    <h3>
                                        <a href="./post-detail.html" title="Nhà gạch Việt 350 triệu lên báo quốc tế"
                                           class="linkimg">
                                            Nhà gạch Việt 350 triệu lên báo quốc tế
                                        </a>
                                    </h3>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <section class="list-blogs blog-main margin-top-30">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="./post-detail.html">
                                    <img src="./img/umpjk8l.png"
                                         alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="blog-item-mains">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây</a>
                                </h3>
                                <div class="post-time">
                                    15/09/2018 - Nguyễn Chánh Bảo Trung
                                </div>
                                <p class="blog-item-summary margin-bottom-5">
                                    Nhớ quê hương, chị Thanh Huyền (ở Czech)
                                    đã trồng sen đá thành hình bản đồ dài 2 mét và một ngôi sao 5 cánh.
                                    Chị Vũ Thanh Huyền đang có cuộc sống ấm cúng ở thành phố Plzen (Cộng hòa Czech).
                                    Ngoài nhà chính - nơi gia đình chị sinh sống, bán hàng thực phẩm...</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="./post-detail.html">
                                    <img src="./img/umpjk8l.png"
                                         alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="blog-item-mains">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                    </a>
                                </h3>
                                <div class="post-time">
                                    15/09/2018 - Nguyễn Chánh Bảo Trung
                                </div>
                                <p class="blog-item-summary margin-bottom-5"> Nhớ quê hương, chị Thanh Huyền (ở Czech)
                                    đã trồng sen đá thành hình bản đồ dài 2 mét và một ngôi sao 5 cánh.
                                    Chị Vũ Thanh Huyền đang có cuộc sống ấm cúng ở thành phố Plzen (Cộng hòa Czech).
                                    Ngoài nhà chính - nơi gia đình chị sinh sống, bán hàng thực phẩm...</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="./post-detail.html">
                                    <img src="./img/umpjk8l.png"
                                         alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="blog-item-mains">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                    </a>
                                </h3>
                                <div class="post-time">
                                    15/09/2018 - Nguyễn Chánh Bảo Trung
                                </div>
                                <p class="blog-item-summary margin-bottom-5">
                                    Nhớ quê hương, chị Thanh Huyền (ở Czech)
                                    đã trồng sen đá thành hình bản đồ dài 2 mét và một ngôi sao 5 cánh.
                                    Chị Vũ Thanh Huyền đang có cuộc sống ấm cúng ở thành phố Plzen (Cộng hòa Czech).
                                    Ngoài nhà chính - nơi gia đình chị sinh sống, bán hàng thực phẩm...</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="./post-detail.html">
                                    <img src="./img/umpjk8l.png"
                                         alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="blog-item-mains">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                    </a>
                                </h3>
                                <div class="post-time">
                                    15/09/2018 - Nguyễn Chánh Bảo Trung
                                </div>
                                <p class="blog-item-summary margin-bottom-5">
                                    Nhớ quê hương, chị Thanh Huyền (ở Czech)
                                    đã trồng sen đá thành hình bản đồ dài 2 mét và một ngôi sao 5 cánh.
                                    Chị Vũ Thanh Huyền đang có cuộc sống ấm cúng ở thành phố Plzen (Cộng hòa Czech).
                                    Ngoài nhà chính - nơi gia đình chị sinh sống, bán hàng thực phẩm...</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="./post-detail.html">

                                    <img src="./img/umpjk8l.png"
                                         alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"
                                         class="img-responsive center-block">

                                </a>
                            </div>
                            <div class="blog-item-mains">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                    </a>
                                </h3>
                                <div class="post-time">
                                    15/09/2018 - Nguyễn Chánh Bảo Trung
                                </div>
                                <p class="blog-item-summary margin-bottom-5">
                                    Nhớ quê hương, chị Thanh Huyền (ở Czech)
                                    đã trồng sen đá thành hình bản đồ dài 2 mét và một ngôi sao 5 cánh.
                                    Chị Vũ Thanh Huyền đang có cuộc sống ấm cúng ở thành phố Plzen (Cộng hòa Czech).
                                    Ngoài nhà chính - nơi gia đình chị sinh sống, bán hàng thực phẩm...</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="./post-detail.html">
                                    <img src="./img/umpjk8l.png"
                                         alt="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                            <div class="blog-item-mains">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây">
                                        Người phụ nữ trồng sen đá hình bản đồ Việt Nam ở trời Tây
                                    </a>
                                </h3>
                                <div class="post-time">
                                    15/09/2018 - Nguyễn Chánh Bảo Trung
                                </div>
                                <p class="blog-item-summary margin-bottom-5">
                                    Nhớ quê hương, chị Thanh Huyền (ở Czech)
                                    đã trồng sen đá thành hình bản đồ dài 2 mét và một ngôi sao 5 cánh.
                                    Chị Vũ Thanh Huyền đang có cuộc sống ấm cúng ở thành phố Plzen (Cộng hòa Czech).
                                    Ngoài nhà chính - nơi gia đình chị sinh sống, bán hàng thực phẩm...
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

        </section>

        <aside class="left left-content col-md-3">
            <aside class="aside-blog-item margin-bottom-15">
                <a href="#">
                    <img src="./img/blogs_banner.png" alt="Ant Furniture" class="img-responsive center-block">
                </a>
            </aside>
            <div class="aside-item">
                <div class="heading">
                    <h2 class="title-head"><a href="./post.html"><span>Xem nhiều nhất</span></a></h2>
                </div>
                <div class="list-blogs">
                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/crickethouse-day-07-1535007367-680x0.jpg"
                                 width="70" alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                    Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/crickethouse-day-07-1535007367-680x0.jpg"
                                 width="70" alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                    Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/crickethouse-day-07-1535007367-680x0.jpg"
                                 width="70" alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                    Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/crickethouse-day-07-1535007367-680x0.jpg"
                                 width="70" alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                    Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>

                    <article class="blog-item blog-item-list clearfix">
                        <a href="./post-detail.html" class="panel-box-media">
                            <img src="./img/crickethouse-day-07-1535007367-680x0.jpg"
                                 width="70" alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                        </a>
                        <div class="blogs-rights">
                            <h3 class="blog-item-name">
                                <a href="./post-detail.html"
                                   title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                    Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                </a>
                            </h3>
                            <div class="post-time">15/09/2018</div>
                        </div>
                    </article>
                </div>
                <div class="blogs-mores text-center">
                    <a href="#" title="Xem thêm">Xem thêm</a>
                </div>
            </div>


            <div class="aside-item aside-blog-promotion">
                <div class="heading">
                    <h2 class="title-head"><span><a href="#">Khuyến mãi</a></span></h2>
                </div>
                <div class="list-blogs-promotion">
                    <div class="blogs-promotion-big">
                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/crickethouse-day-07-1535007367-680x0.jpg"
                                     alt="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html"
                                       title="Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế">
                                        Ngôi nhà hiện đại pha nét cổ làng quê Bắc Bộ lên báo quốc tế
                                    </a>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="blogs-promotion-small">
                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg"
                                     width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                        Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg"
                                     width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                        Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg"
                                     width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                        Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg"
                                     width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                        Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                    </a>
                                </h3>
                            </div>
                        </article>

                        <article class="blog-item blog-item-list clearfix">
                            <a href="./post-detail.html" class="panel-box-media">
                                <img src="./img/thiet-ke-nha-dep-an-tuong-doc-dao-tai-nhat-ban-2.jpg"
                                     width="70" height="70" alt="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                            </a>
                            <div class="blogs-rights">
                                <h3 class="blog-item-name">
                                    <a href="./post-detail.html" title="Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ">
                                        Ngôi nhà đẹp lạ về đêm nhờ những ô cửa sổ
                                    </a>
                                </h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
<!-- end content -->

<div w3-include-html="./footer.html"></div>

<script src="./js/main.js" type="text/javascript"></script>
<script src="./js/function.js" type="text/javascript"></script>
</body>
</html>