<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ant Furniture</title>
    <meta name='revisit-after' content='1 days'/>
    <meta name="robots" content="noodp,index,follow"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Ant Furniture">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Ant Furniture">

    <link href="./css/bootstrap.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/plugin.scss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/ant-furniture.scss.css" rel="stylesheet" type="text/css"/>
    <script src="./js/script.js" type="text/javascript"></script>

    <!-- by page -->
    <script src="./js/home.js" type="text/javascript"></script>
</head>
<body>

<div w3-include-html="./header.html"></div>

<!-- begin content -->
content template
<!-- end content -->

<div w3-include-html="./footer.html"></div>

<script src="./js/main.js" type="text/javascript"></script>
<script src="./js/function.js" type="text/javascript"></script>
</body>
</html>